# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfplan

# Ignore any .terraform directories
**/.terraform/

# Ignore any crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and should not be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore sensitive variables file
.env
*.tfvars
*.json

# Ignore any temporary files
*.log
*.out
*.tmp

# If we want to use sealed-secrets, this should be here
./manifests/blog-app/mongodb-creds-external.yaml
