# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfplan

# Ignore any .terraform directories
**/.terraform/

# Ignore any crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and should not be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore sensitive variables file
.env
*.tfvars
*.json

# Ignore any temporary files
*.log
*.out
*.tmp

# If we want to use sealed-secrets, these lines should be here
# However, if they are already being tracked, firstly they should be untracked using:
# git rm --cached <file>
# manifests/blog-app/mongodb-creds-external.yaml
# manifests/argocd/external-secrets.yaml
# manifests/argocd/gcpsm-secret.yaml

# If we want to use external-secrets, these lines should be here.
# However, if they are already being tracked, firstly they should be untracked using:
# git rm --cached <file>
# manifests/sealed-secrets/*
# manifests/sealed-secrets/controller.yaml
# manifests/blog-app/mongodb-creds-sealed.yaml

